@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Oxanium", sans-serif;
}

/* Define scrollbar styles */
::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #040C18; /* Color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: linear-gradient( #040C18, #AE67FA);
  /* Color of the scrollbar handle */
}